{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tracks.css' %}">
    <title>My Tracks</title>
  </head>
  <body>
      <header>
          <h1>My Tracks</h1></header>
        {% block content %}

        {% endblock %}
        <a href="{% url 'tracks:tracks_list' %}"><h2>go to all tracks
        </h2></a>
  </body>
</html>
