{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tracks.css' %}">
    <title>My Tracks</title>
  </head>
  <body>
      <header>
          <h1>My Tracks</h1></header>
        {% for track in tracks %}
            <h3>Name: {{ track.name }}</h3>
            <h3>Album: {{ track.album }}</h3>
            <h3>Genre: {{ track.genre }}</h3>
            <br>
        {% endfor %}
  </body>
</html>
